#img-bg{
    background-image: url('assets\img\img\vista-de-cima-do-local-de-trabalho-de-negocios-com-teclado-de-computador-caderno-plana-leigos_152898-394.jpg');
    min-height: 695px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}