#img-bg{
    background-image: url('assets\img\img\apple-calendar-desk-device-wallpaper-preview.jpg');
    min-height: 695px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}